  
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" required>

    <label for="psword"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="psword" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" id="remember"> Remember me
    </label>
    <button type="button" id="signup">Sign up instead</a>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" id="cancelbtn">Cancel</button>
  </div>


<script src="/public/js/login.js"></script>